@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background: 0, 0, 0;
  --primary: 255, 125, 0;
  --primary-foreground: 0, 0, 0;
  --secondary: 30, 30, 30;
  --secondary-foreground: 255, 255, 255;
  --muted: 40, 40, 40;
  --muted-foreground: 150, 150, 150;
  --accent: 255, 125, 0;
  --accent-foreground: 0, 0, 0;
  --card: 20, 20, 20;
  --card-foreground: 255, 255, 255;
  --border: 40, 40, 40;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

